:root {
  --bg-color: #1b0000;
  --bg-card: #2F0909;
  --text-grey: #acacac;
  --text-white: #ffffff;
  --input: #8a8a8a;
  --checkbox: #706ea8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-white);
  margin: 2rem;
}

header {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

main {
  margin: 3rem 2rem;
}

.search {
  width: 50%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 0.4rem;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  color: var(--text-white);
}

.search img {
  width: 1rem;
  position: relative;
  right: 2rem;
}

.checkbox {
  margin: 2rem auto;
}

#movies {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo {
  width: 10rem;
  height: 14.8rem;
}

.movie {
  background-color: var(--bg-card);
  border-radius: 0.4rem;
  margin: auto 2rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}

.title {
  font-size: 1.2rem;
}

.icons {
  margin-top: 0.5rem;
  display: flex;
  gap: 3rem;
}

.icons img {
  margin-right: 0.5rem;
  width: 1rem;
}

.description {
  text-align: justify;
  color: var(--text-grey);
}

footer {
  text-align: center;
  color: var(--text-grey);
  font-size: 0.8rem;
}

footer img {
  width: 0.8rem;
}